<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="" th:href="@{/bootstrap-4.3.1-dist/css/bootstrap.min.css}" rel="stylesheet">
    <link href="" th:href="@{/Flat-UI-master/dist/css/flat-ui.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/Datatables/css/jquery.dataTables.css}">
    <script src="" th:src="@{/jquery/jquery-3.4.1.min.js}"></script>
    <script src="" th:src="@{/bootstrap-4.3.1-dist/js/bootstrap.min.js}"></script>
    <script src="" th:src="@{/Flat-UI-master/dist/js/vendor/jquery.min.js}"></script>
    <script src="" th:src="@{/Flat-UI-master/dist/js/flat-ui.min.js}"></script>
    <script src="" th:src="@{/Layui/laydate/laydate.js}"></script>
    <script src="../lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script type="text/javascript" charset="utf8" th:href="@{/lib/Datatables/js/jquery.js}"></script>
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
    <title>Title</title>
    
    <script>
        function delete_my_appointment() {
            if(!confirm("确认删除?")){
                window.event.returnValue=false;
            }
            else{
                alert('删除成功');
            }
        }
        $(document).ready( function () {
            $('#table_id_example').DataTable();
        } );
    </script>
    
</head>
<body>


<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">我的预约</h1>
    <p class="mb-4">My appointment.<a target="_blank" href="https://datatables.net"></a></p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">查看预约情况</h6>
        </div>

        <div class="card-body">
            <!--                        <button class="btn btn-sm btn-success">增添</button>-->
            <div class="table-responsive">
                <table  id="table_id_example" class="table table-bordered" width="100%" cellspacing="0">
                    <!-- <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">-->
                    <thead>
                    <tr>
                        <th>场馆名</th>
                        <th>场地号</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>场馆名</th>
                        <th>场地号</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="list:${appointment_list}">
                        <td th:text="${list.sitename_zh}"></td>
                        <td th:text="${list.sitenum}"></td>
                        <td th:text="${list.sitedate}+' '+${list.start_time}+' ~ '+${list.end_time}"></td>
                        <td>
                            <a type="button" th:href="@{/user/delete_my_appointment(sitename=${list.sitename},sitenum=${list.sitenum},start_time=${list.start_time},end_time=${list.end_time})}" class="layui-btn layui-btn-sm layui-btn-normal" onclick="delete_my_appointment()"><i class="layui-icon"></i> 删除预约</a>
                            <!--<a type="button" th:href="@{/user/delete_my_appointment(sitename=${list.sitename},sitenum=${list.sitenum},start_time=${list.start_time},end_time=${list.end_time})}" class="layui-btn layui-btn-sm layui-btn-normal" onclick="delete_my_appointment()"><i class="layui-icon"></i>删除预约</a>-->
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


</body>
</html>